--- drivers/usb/gadget/Kconfig
+++ drivers/usb/gadget/Kconfig
@@ -460,7 +460,6 @@ config USB_CONFIGFS_F_TCM
 choice
 	tristate "USB Gadget Drivers"
 	default USB_ETH
-	optional
 	help
 	  A Linux "Gadget Driver" talks to the USB Peripheral Controller
 	  driver through the abstract "gadget" API.  Some other operating
