CONFIG_NOBLESSE_LARGE=y
# CONFIG_EXYNOS_DECON_LCD_S6E36W3X01 is not set
# CONFIG_EXYNOS_DECON_LCD_RM69330 is not set
CONFIG_EXYNOS_DECON_LCD_RM69091=y
CONFIG_EXYNOS_DECON_LCD_S6E36W4X01_L=y
# CONFIG_EXYNOS_DECON_LCD_S6E36W4X01_S is not set
# CONFIG_EXYNOS_DECON_LCD_S6E36W4X01_AFPC is not set
