CONFIG_NOBLESSE_CHUB=y
CONFIG_GNSS_SHMEM_IF=y
CONFIG_CONTEXTHUB_DRV=y
CONFIG_GNSS_PMUCAL=y

CONFIG_SENSORS_SSP_CHUB=y
CONFIG_SENSORS_SYSFS=y
CONFIG_SENSORS_SSP=y
CONFIG_SENSORS_SSP_SENSORHUB=y
CONFIG_SENSORS_SSP_FACTORY=y
CONFIG_SENSORS_SSP_ACCELEROMETER_SENSOR=y
CONFIG_SENSORS_SSP_ACCELEROMETER_32GSENSOR=y
CONFIG_SENSORS_SSP_GYRO_SENSOR=y
CONFIG_SENSORS_SSP_PRESSURE_SENSOR=y
CONFIG_SENSORS_SSP_LIGHT_SENSOR=y
CONFIG_SENSORS_SSP_HRM_SENSOR=y
CONFIG_SENSORS_SSP_LPM_MOTION=y
CONFIG_SENSORS_SSP_LSM6DSL=y
CONFIG_SENSORS_SSP_LPS25H=y
CONFIG_SENSORS_SSP_OPT3007=y
CONFIG_SENSORS_SSP_PPS960=y
CONFIG_SENSORS_ECG_FAC=y
CONFIG_SENSORS_ECG_LIB=y
